lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.idea/
.sass-cache/
.tmp/
.versions/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.editorconfig

pids
logs
results

npm-debug.log
node_modules

